.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.headerRight {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}
.profileContainer {
  font-size: 14px;
  color: #344054;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fafafa;
  padding: 4px 8px;
  border-radius: 10px;
}
.icon {
  width: 20px;
  height: 20px;
}

.profileImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
