.registerPageContainer {
  display: flex;
  flex-direction: column;
  gap: clamp(2.5rem, 6vw, 6rem);
  width: 100%;
  max-width: 420px;
}

.logo {
  width: 110px;
}

.registerFormContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  padding: 1rem 0;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.field {
  margin-bottom: 5px;
}

.inputError {
  border: 1px solid #ef4444 !important;
}
.signInText {
  display: flex;
  justify-content: center;
}

.errorText {
  margin-top: 6px;
  font-size: 12px;
  color: #ef4444;
}
